
body{
  background-color:hsl(229, 57%, 11%);
  background-image: url(../assets/bg-desktop.png);
  background-size: auto;     
  background-repeat: no-repeat; 
  margin-bottom: 47rem;
  background-position: bottom;
  width: 50rem;
}

.flex-container{
  display: flex;
  color: white;
  flex-direction: row;
 
}
.left{
  background-color: hsl(228, 56%, 26%);
  flex-basis: 38%;
  margin: 1rem;
  border-radius: 0.5rem;
  border-top-right-radius: 5rem;
  height: 10rem;
  width: 9rem;
  
}
.right{
  background-color: hsl(228, 56%, 26%);
  flex-basis: 62%;
  border-radius:0.5rem;
  text-align: center;
}

.icons{
    display: flex;
    background-color: hsl(229, 57%, 11%);
    margin:1rem;
    flex-grow:3;

}